<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://127.0.0.1:8080/js/jquery.js"></script>
    <script src="http://127.0.0.1:8080/js/script.js"></script>
</head>
<body>
<form>
    <input type="text" placeholder="name">
    <select id="group">
        <option>Старше 35</option>
        <option>Младше 35</option>
        <option>Работник банка</option>
    </select>
    <select id="house_type">
        <option>Новый дом</option>
        <option>Дом с рисками</option>
        <option>Обычный дом</option>
    </select>
    <input id="send-form" type="button" value="Посчитать">
</form>
</body>
</html>